/* Theme Toggle */
.theme-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: transform 0.2s;
}

.theme-toggle:hover {
  transform: scale(1.1);
}

/* Container */
.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  height: 100vh;

}

/* Title */
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: var(--title-color);
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.title:hover {
  color: var(--primary-color);
  cursor: pointer;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .title {
    font-size: 20px;
  }
}

/* Input */
.input {
  border: 1px solid var(--border-color);
  background-color: var(--task-background);
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 150, 136, 0.5);
}

/* Button */
.button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  display: block;
  width: 189px;
  margin-top: 10px;
}

.button:hover {
  background-color: var(--primary-color-hover);
  transform: scale(1.05);
}

/* Task */
ul {
  height: 400px; 
  overflow-y: auto; 
  padding: 16px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 504px;
}


ul::-webkit-scrollbar {
  width: 10px; 
}

ul::-webkit-scrollbar-track {
  background: #001529; 
  border-radius: 10px; 
}

ul::-webkit-scrollbar-thumb {
  background: #1890ff; 
  border-radius: 10px; 
  border: 2px solid #001529;
}


ul::-webkit-scrollbar-thumb:hover {
  background: #40a9ff;
}


ul::-webkit-scrollbar-thumb:active {
  background: #096dd9; 
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--task-background);
  border-radius: 4px;
  transition: background-color 0.2s, transform 0.2s;
  width: 444px;
  min-width: 200px;
}

.task:hover {
  background-color: var(--task-background-hover);
  transform: translateY(-2px);
}

@media (max-width: 600px) {
  .task {
    width: 100%;
  }
}

/* Task Title */
.task-title {
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease, background-color 0.3s ease, border-color 0.3s ease;
  border: 2px solid #ddd;
  padding: 10px 15px;
  border-radius: 8px;
}

.task-title:hover {
  color: var(--task-title-hover-color);
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.1);
  border-color: var(--task-title-hover-color);
}

.task-title.completed {
  color: var(--completed-title-color);
  text-decoration: line-through;
}

.task-title.incomplete {
  color: var(--incomplete-title-color);
}

/* Task Dates */
.task-dates {
  font-size: 12px;
  color: var(--secondary-text-color);
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.task-dates span {
  padding: 2px 5px;
  border-radius: 4px;
}

.task-dates span:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Edit and Delete Buttons */
.edit-button,
.delete-button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s, transform 0.2s;
}

.edit-button {
  background-color: var(--secondary-color);
  color: white;
}

.edit-button:hover {
  background-color: var(--secondary-color-hover);
  transform: scale(1.05);
}

.delete-button {
  background-color: var(--error-color);
  color: white;
}

.delete-button:hover {
  background-color: var(--error-color-hover);
  transform: scale(1.05);
}
