.theme-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: transform 0.2s;
}

.theme-toggle:hover {
  transform: scale(1.1);
}

.container {
  padding: 20px;
  display: flex; 
  flex-direction: column;
  gap: 15px;
  align-items: center; 
  height: 100vh; 
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: var(--title-color);
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease, transform 0.3s ease;
}

@media (max-width: 600px) {
  .title {
      font-size: 20px;
  }
}

.title:hover {
  color: var(--primary-color);
  cursor: pointer;
  transform: scale(1.05);
}

.input {
  border: 1px solid var(--border-color);
  background-color: var(--task-background);
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 150, 136, 0.5);
}

.button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  display: block;
  width: 189px;
  margin-top: 10px;
}

.button:hover {
  background-color: var(--primary-color-hover);
  transform: scale(1.05);
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--task-background);
  border-radius: 4px;
  transition: background-color 0.2s, transform 0.2s;
  width: 444px;
  min-width: 200px;
}

@media (max-width: 600px) {
  .task {
      width: 100%;
  }
}

.task:hover {
  background-color: var(--task-background-hover);
  transform: translateY(-2px);
}

.delete-button {
  background-color: var(--error-color);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  width: 100%;
}

.delete-button:hover {
  background-color: var(--error-color-hover);
  transform: scale(1.05);
}

.edit-button {
  background-color: var(--secondary-color); 
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  width: 100%;
}

.edit-button:hover {
  background-color: var(--secondary-color-hover);  
  transform: scale(1.05);
}

.task-title {
  display: inline-block; /* Ensure it can have padding and margins */
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease, background-color 0.3s ease, border-color 0.3s ease;
  border: 2px solid transparent; /* Default border */
  padding: 10px 15px; /* Add padding for better spacing */
  border-radius: 8px; /* Rounded corners */
}

.task-title:hover {
  color: var(--task-title-hover-color); 
  transform: scale(1.05); 
  background-color: rgba(0, 0, 0, 0.1); /* Light background on hover */
  border-color: var(--task-title-hover-color); /* Change border color on hover */
}

.task-title.completed {
  color: var(--completed-title-color); 
  text-decoration: line-through; 
}

.task-title.incomplete {
  color: var(--incomplete-title-color); 
}