.container {
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #e0e0e0;
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease, transform 0.3s ease;
}

@media (max-width: 600px) {
  .title {
      font-size: 20px;
  }
}

.title:hover {
  color: #009688;
  cursor: pointer;
  transform: scale(1.05);
}

.input {
  border: 1px solid #4a4a4a;
  background-color: #1f1f1f;
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.input:focus {
  outline: none;
  border-color: #009688;
  box-shadow: 0 0 5px rgba(0, 150, 136, 0.5);
}

.button {
  background-color: #009688;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  display: block;
  width: 189px;
  margin-top: 10px;
}

.button:hover {
  background-color: #00796b;
  transform: scale(1.05);
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #1f1f1f;
  border-radius: 4px;
  transition: background-color 0.2s, transform 0.2s;
  width: 444px;
  min-width: 200px;
}

@media (max-width: 600px) {
  .task {
      width: 100%;
  }
}

.task:hover {
  background-color: #2a2a2a;
  transform: translateY(-2px);
}

.delete-button {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  width: 100%;
}

.delete-button:hover {
  background-color: #d32f2f;
  transform: scale(1.05);
}

.edit-button {
  background-color: #4caf50; 
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  width: 100%;
}

.edit-button:hover {
  background-color: #388e3c;  
  transform: scale(1.05);
}

.task-title {
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

.task-title:hover {
  color: #00acc1; 
  transform: scale(1.05); 
}

.task-title.completed {
  color: #bbb; 
  text-decoration: line-through; 
}

.task-title.incomplete {
  color: #ffffff; 
}
